.env
*.env
.env.*
*.env.txt
*key*.txt
*API*.txt
*.pem
*.key
**/uploads/
**/reports/
**/data/
*.sqlite3
*.db
*.bin
02_Marketing/client_tracker.xlsx
05_Strategy_and_Docs/Legal/
__pycache__/
*.pyc

# Node & Next.js
node_modules/
/.next/
/out/
/build
.turbo/
.next/

# IDE
.vscode/
.idea/
*.iml
*.sublime-workspace

.DS_Store
